            #topbar {

                width:1100px;
                margin:0 auto;
                height:40px;
                margin-bottom: 0;
                background: white;
                background-color: #fff;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

            }

            .bodybg {

                margin: 0;
                padding: 0;
                font-family: Helvetica, Arial, sans-serif;
                background: #f2f2f2;
                opacity: 0.9;
                filter: alpha(opacity=93)

            }

            #logo {

                margin-top: 0;
                width:100px;
                float:left;
                margin-right:8px;
                height: 35px;
            }

            .topbar-section {

                float:left;
                border-left: 2px #cccccc solid;
                height:100%;

            }

            #signin-image {

                width:25px;
                margin:10px 15px 0 10px;
                height:25px;
                float:left;

            }
            #signintext {

                font-weight: bold;
                font-size: 90%;
                position: relative;
                top: 14px;
                float: left;
                padding-right: 50px;
            }

            .topbar-menu {

                width:60px;
                padding:13px 15px 0 15px;
                height:27px;
                font-weight: bold;
                font-size: 90%;
                float:left;

            }

            .clear {
                clear:both;
            }

            #menubar-container {

                border-top: 2px solid #cccccc;
                background-color: #8B1919;
                width: 100%;
                height: 70px;

            }

            #menubar {
                width: 1100px;
                margin:0 auto;
            }

            h1 {
                padding: 0;
                margin: 0;
                color: white;
                font-size: 40px;
                font-weight: normal;
                padding-top: 10px;
                float: left;
            }

            .topbar-menu a {
                color: black;
                text-decoration: none;


            }


            .topbar-menu a:hover {
                color: blue;
                text-decoration: underline;

            }
            .ride {
                margin: auto;
                background-color: #fff;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 4px;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 2.45);
                color: rgb(89, 89, 89) !important;
                display: block;
                position: relative;
                float: center;
                width: 75%;
                margin-bottom: 10px;
                /* right: 100px;
                padding-left: 10px;
                padding-top: 20px;
                margin-top: 0 */
            }

            .ride a {
                float: right;
            }

            .ride h4 {
                float: left;
                font-weight: bold;

            }
            #currentlocation {
                float: right;
                margin-top: 10px;
                border: 1px #8B4545 solid;
                width: 220px;
                padding: 5px 5px 0 10px;

            }

            #currentlocation a {

                color: white;
                text-decoration: none;
                font-size: 15px;
                position: relative;
                top: -10px;
            }

            #currentlocation a:hover {

                text-decoration: underline;
            }

            #currentlocation img {

                height: 35px;;
            }

            #menubar2-container {
                background-color: rosybrown;
                width: 100%;
                height: 40px;

            }
            #menubar2 {
                width: 1100px;
                margin:0 auto;
                height: 40px;

            }

            #menubar2 a {

                font-size: 18px;
                color: black;
                text-decoration: none;
                padding: 0 10px;
                border-right: 1px #8B4545 solid;
                position: relative;
                top: 9px;
            }
            #menubar2 p {

                font-size: 24px;
                color: white;
                text-decoration: none;
                padding: 0 30px 0 0;
                border-right: 1px #8B4545 solid;
                position: relative;
                bottom: 18px;

                float: left;
            }

            #menubar2 a:hover {

                text-decoration: underline;
                opacity: 1;
                color: blue;

            }

            #page-container {
                width: 1100px;
                margin:0 auto;
            }


            #main-description {
                float: left;
            }

            h2 {

                font-weight: normal;
                margin-top: 25px;
                font-size: 20px;
                border-bottom: 4px solid #8B1919;
                width: 120px;
            }

            h3 {

                color: blue;
                font-size: 30px;
                text-decoration: none;
                text-align: center;
            }

            h3 a{

                color: black;
                font-size: 30px;
                text-decoration: none;
            }

            h3 a:hover {

                color: blue;
                text-decoration: underline;
            }

            #summarydescription {
                width: 580px;
                float: left;
                border-right: 1px solid #cccccc;
                padding-right: 20px;

            }

            #article-summary {
                color: 5a5a5a;
                width: 230px;
                float: left;

            }

            #clock {
                height: 15px;


            }

            #date {

                padding-right: 10px;
            }

            #available {
                float: right;
                padding-left: 20px;

            }

            h4 {
                font-weight: normal;
                font-size: 20px;
            }


            .description {
                float:right;
                width: 205px;
                padding-left: 20px;
                margin-top: 0;

            }
            .tripfeature {
                float:left;
                width: 200px;
                height: 200px;

            }
            .feature {
                margin: 15px;
                float: left;
            }

            .tripdescription {
                top: 200px;
                bottom: 10px;
                font-size: 15px;
                line-height: 20px;
                left: 10px;
                position: absolute;
                right: 10px;
                /* background: rgba(0, 0, 0, 0.3); */
                padding: 0px;
                margin: auto;

                height: 60px;
                width: 170px;
            }

            div {
                display: block;
            }


            .featured {
                font-size: 12px;
                height: 22px;
                left: 0;
                line-height: 24px;
                padding: 0 9px 0 8px;
                position: absolute;
                top: 22px;
                background: #84BD00;
                text-transform: uppercase;
            }
            .wrapper {


                background-color: #fff;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 4px;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 1.45);
                color: #fff !important;
                display: block;
                height: 227px;
                position: relative;
            }

            .tripview {
                padding-right: 10px;
                position: relative;
                float: left;
                font-family: "Nexa", Helvetica, Arial, sans-serif;
                padding: 0px 10px 0 0;
                width: 100%;

            }
            .triptime {
                font-size: 11px;
                position: relative;
                bottom: 0px;
            }

            .triptitle {
                font-weight: bolder;
            }

           .inputt {

                    padding: 5px 5px 12px 5px;
                    font-size: 15px;
                    border-radius: 5px;
                    border: 1px solid grey;
                    width:320px;

                    }
            #not_created {
                    display: none;
                    color: blue;
                    padding: 5px 5px 12px 5px;
                    font-size: 15px;
                    border-radius: 5px;
                    border: 1px solid blue;
                    width:320px;

                    }
                #signupdescription{
                    width: 680px;
                    float: left;
                    border-right: 1px solid #cccccc;
                    padding-right: 20px;
                }

                #uploads {
                    margin: 10px 0 10px 0;
                }

                .label {

                    position: relative;
                    top:12px;
                    width:200px;
                    float: left;

                }

                .formwrapper {

                    width: 550px;
                    margin: 20px auto;


                }

                .form-element {

                    margin-bottom: 10px;

                }

                #submitButton {

                    width: 130px;
                    margin-left: 200px;
                }
                .loginwrapper {
                    background-color: #fff;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 4px;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 2.45);
                    color: #fff !important;
                    display: block;
                    height: 227px;
                    position: relative;
                    width: 360px;
                    float: left;
                    right: 100px;
                    padding-left: 10px;
                    padding-top: 20px;
                    margin-top: 0

                }



                .tablewrapper {
                    background-color: #fff;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 4px;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 2.45);
                    color: #fff !important;
                    display: block;
                    height: 367px;
                    position: relative;
                    width: 950px;
                    margin: auto;
                    top: 50px;
                    left: 30px;


                }

                .container {
                    margin: 1px auto;
                    padding: 1em 5em;
                }

                .table {
                    font-family: 'Roboto', sans-serif;
                    border-collapse: collapse;
                    width: 100%;
                    margin-top: 4px;
                    /* border-radius: 10px; */
                }

                .table td, .table th {
                    border: 1px solid #ddd;
                    padding: 8px;
                }

                .table tr:nth-child(even){background-color: #f2f2f2;}

                .table tr:hover {background-color: #ddd;}

                .table th {
                    padding-top: 12px;
                    padding-bottom: 12px;
                    text-align: left;
                    background-color: #8B4545;
                    color: white;
                }

                .button {
                    background-color: #8B4545;
                    border: none;
                    color: white;
                    padding: 10px 10px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    border-radius: 4px;
                    opacity: 0.8;
                    transition: 0.3s;
                }

                .button:hover {opacity: 1}
                .modal1 {
                    display: none;
                    position: fixed;
                    z-index: 1;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 40%;
                    height: 60%;
                    overflow: auto;
                    background-color: brown;
                    padding-top: 10px;
                }

                .modal-content1 {
                    margin: 3% auto 5% auto;
                    width: 80%;
                }

                .close1 {
                    position: absolute;
                    right: 15px;
                    top: 5px;
                    font-size: 40px;
                    font-weight: bold;
                    color: #f1f1f1;
                }

                .close1:hover,
                .close1:focus {
                    color: #f44336;
                    cursor: pointer;
                }
                .clearfix1::after {
                    content: "";
                    clear: both;
                    display: table;
                }
                .req_header_info{
                    color: rgb(240, 235, 235);
                    margin-left: 20%;
                    font-size: 20px;
                    margin-top: 6%;
                }
                .btn_req_join{
                    width: 50%;
                    background-color: #3e8e41;
                }
                .model_join{
                    background-color: #3e8e41;
                    text-align: center;
                    padding: 2%;
                    box-shadow: #44464b;
                    font-weight: bold;
                    color: #ddd;
                }
                .model_join:hover{
                    background-color: green;
                }
                .close1:hover,
                .close1:focus {
                    color: #f44336;
                    cursor: pointer}
                .input[type=text], {
                        width: 90%;
                        border-radius: 1%;
                        padding: 15px;
                        margin: 5px 0 22px 0;
                        display: inline-block;
                        border: none;
                        background: #f1f1f1;
                    }

                .input[type=text]:focus, input[type=password]:focus {
                        background-color: #ddd;
                        outline: none;
                    }
